.python-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 70px 10%;
}

.python-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.python-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.python-card h3 {
    font-size: 22px;
    font-weight: 600;
}

.python-card h2 {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.python-card p {
    color: #d4d4d4;
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
}

.python-readmore {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.python-readmore img {
    width: 20px;
}

.python-card:hover {
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #222323, #423e43);
    transform: scale(1.05);
    transition: 0.4s;
}

@media (max-width: 768px) {
    .python-section {
        align-items: start;
        gap: 70px;
        margin: 20px 6%;
    }

    .python-card {
        gap: 10px;
        padding: 20px;
    }

    .python-card h2 {
        font-size: 20px;
    }

    .python-card p {
        font-size: 16px;
        line-height: 26px;
        max-width: 300px;
    }

    .python-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
